In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.neighbors import KNeighborsRegressor

In [3]:
df=pd.read_csv("set_03_data.csv")

In [5]:
#1번

In [7]:
df_q1=df.copy()
df_q1

,screen_size,ROM,RAM,n_rear_cam,n_front_cam,battery_c,ratings,n_ratings,sales_p,discount_p,sales_idx
0,Very Small,64,2,1,1,1800,4.5,38645,32999,0.17,127.52
1,Small,64,4,2,1,2815,4.5,244,57149,0.04,1.39
2,Very Small,64,2,1,1,1800,4.5,38645,32999,0.17,127.52
3,Medium,64,3,1,1,2942,4.6,5366,42999,0.10,23.07
4,Medium,128,4,2,1,2815,4.6,745,69149,0.02,5.15
...,...,...,...,...,...,...,...,...,...,...,...
425,Small,32,3,2,1,4000,4.3,1870,7999,0.30,1.50
426,Small,64,4,2,1,4000,4.3,1783,9699,0.28,1.73
427,Large,128,6,3,1,4250,4.2,1554,21999,0.12,3.42
428,Medium,32,3,2,1,5000,4.2,8161,8299,0.07,6.77
429,Small,32,3,2,1,4000,4.3,1870,8190,0.36,1.53

In [15]:
sales_mean=df_q1["sales_idx"].mean()
sales_std=df_q1["sales_idx"].std()
standard=sales_mean+2*sales_std
standard

146.55150129273218

In [19]:
df_q1=df_q1.loc[df_q1["sales_idx"]>=standard]
df_q1

,screen_size,ROM,RAM,n_rear_cam,n_front_cam,battery_c,ratings,n_ratings,sales_p,discount_p,sales_idx
98,Medium,128,6,2,1,4000,4.6,122001,18999,0.09,231.79
110,Large,128,6,4,2,4500,4.5,267028,15999,0.20,427.22
158,Large,32,2,2,1,5000,4.4,223672,7499,0.16,167.73
159,Large,32,2,2,1,5000,4.4,223672,7499,0.16,167.73
193,Medium,16,2,2,1,4000,4.4,226996,6499,0.07,147.52
198,Medium,32,2,2,1,4000,4.4,226996,6999,0.12,158.87
243,Medium,16,2,2,1,4000,4.4,226996,6499,0.07,147.52
381,Medium,64,4,2,2,4000,4.5,125016,12459,0.22,155.76
382,Medium,64,6,2,1,4000,4.5,129661,13500,0.20,175.04
395,Small,32,3,1,1,4100,4.4,642373,8565,0.04,550.19
396,Medium,64,4,1,1,4000,4.4,357064,10999,0.04,392.73
402,Medium,64,4,2,1,4000,4.5,141177,14450,0.03,204.00
404,Medium,64,6,2,1,4000,4.5,129661,13400,0.13,173.75
407,Medium,64,4,2,2,4000,4.5,125016,13990,0.12,174.90
412,Medium,64,4,2,1,4000,4.5,141177,12900,0.04,182.12
418,Small,64,4,2,1,3080,4.4,470905,10490,0.25,493.98

In [23]:
df_q1["quality_idx"]=df_q1["ROM"]/32+df_q1["RAM"]/2+df_q1["n_rear_cam"]+df_q1["n_front_cam"]+df_q1["battery_c"]/1000
df_q1["quality_idx"].mean()

11.01125

In [25]:
11.01

11.01

In [27]:
#2번

In [29]:
from sklearn.preprocessing import StandardScaler

In [35]:
df_q2=df.copy()
df_q2=df_q2.drop(columns="screen_size")
df_q2

,ROM,RAM,n_rear_cam,n_front_cam,battery_c,ratings,n_ratings,sales_p,discount_p,sales_idx
0,64,2,1,1,1800,4.5,38645,32999,0.17,127.52
1,64,4,2,1,2815,4.5,244,57149,0.04,1.39
2,64,2,1,1,1800,4.5,38645,32999,0.17,127.52
3,64,3,1,1,2942,4.6,5366,42999,0.10,23.07
4,128,4,2,1,2815,4.6,745,69149,0.02,5.15
...,...,...,...,...,...,...,...,...,...,...
425,32,3,2,1,4000,4.3,1870,7999,0.30,1.50
426,64,4,2,1,4000,4.3,1783,9699,0.28,1.73
427,128,6,3,1,4250,4.2,1554,21999,0.12,3.42
428,32,3,2,1,5000,4.2,8161,8299,0.07,6.77
429,32,3,2,1,4000,4.3,1870,8190,0.36,1.53

In [41]:
ss=StandardScaler().fit(df_q2)
df_q2=pd.DataFrame(ss.transform(df_q2),columns=df_q2.columns)
df_q2

,ROM,RAM,n_rear_cam,n_front_cam,battery_c,ratings,n_ratings,sales_p,discount_p,sales_idx
0,-0.661729,-1.523296,-2.002277,-0.194639,-2.768829,1.061985,0.269084,0.337068,0.845302,1.676066
1,-0.661729,-0.605905,-0.951021,-0.194639,-1.739165,1.061985,-0.416268,1.412994,-0.927105,-0.486225
2,-0.661729,-1.523296,-2.002277,-0.194639,-2.768829,1.061985,0.269084,0.337068,0.845302,1.676066
3,-0.661729,-1.064600,-2.002277,-0.194639,-1.610330,1.722845,-0.324855,0.782586,-0.109071,-0.114557
4,0.352686,-0.605905,-0.951021,-0.194639,-1.739165,1.722845,-0.407327,1.947616,-1.199783,-0.421766
...,...,...,...,...,...,...,...,...,...,...
425,-1.168936,-1.064600,-0.951021,-0.194639,-0.537046,-0.259733,-0.387249,-0.776727,2.617709,-0.484340
426,-0.661729,-0.605905,-0.951021,-0.194639,-0.537046,-0.259733,-0.388802,-0.700989,2.345031,-0.480397
427,0.352686,0.311486,0.100236,-0.194639,-0.283434,-0.920592,-0.392889,-0.153001,0.163607,-0.451424
428,-1.168936,-1.064600,-0.951021,-0.194639,0.477401,-0.920592,-0.274972,-0.763361,-0.518088,-0.393994
429,-1.168936,-1.064600,-0.951021,-0.194639,-0.537046,-0.259733,-0.387249,-0.768217,3.435743,-0.483825

In [148]:
model_km=KMeans(n_clusters=4, random_state=123)
out_km=model_km.fit(df_q2)
out_km.cluster_centers_
df_out_km=pd.DataFrame(out_km.cluster_centers_,columns=df_q2.columns)
df_out_km

,ROM,RAM,n_rear_cam,n_front_cam,battery_c,ratings,n_ratings,sales_p,discount_p,sales_idx
0,-0.290380,-0.192260,0.447526,-0.194639,0.623816,-0.315788,-0.065154,-0.481765,0.222038,-0.075990
1,-0.565626,-0.842495,-1.316194,0.037202,-1.124026,0.888075,0.277251,0.232984,-0.398971,0.341407
2,-0.534927,-0.491231,-0.951021,0.906608,-0.618201,0.566341,7.331200,-0.620160,0.334031,7.479263
3,1.130088,1.168861,0.267258,0.340547,-0.284856,-0.148560,-0.383825,0.824883,-0.123087,-0.423635

In [152]:
from sklearn.metrics import euclidean_distances

In [154]:
euclidean_distances(df_out_km)

array([[ 0.        ,  3.05863454, 10.83781422,  2.66304292],
       [ 3.05863454,  0.        , 10.16588612,  3.57042325],
       [10.83781422, 10.16588612,  0.        , 11.49910926],
       [ 2.66304292,  3.57042325, 11.49910926,  0.        ]])

In [156]:
2.66

2.66

In [144]:
#3번

In [330]:
df_q3=df.copy()
df_q3

,screen_size,ROM,RAM,n_rear_cam,n_front_cam,battery_c,ratings,n_ratings,sales_p,discount_p,sales_idx
0,Very Small,64,2,1,1,1800,4.5,38645,32999,0.17,127.52
1,Small,64,4,2,1,2815,4.5,244,57149,0.04,1.39
2,Very Small,64,2,1,1,1800,4.5,38645,32999,0.17,127.52
3,Medium,64,3,1,1,2942,4.6,5366,42999,0.10,23.07
4,Medium,128,4,2,1,2815,4.6,745,69149,0.02,5.15
...,...,...,...,...,...,...,...,...,...,...,...
425,Small,32,3,2,1,4000,4.3,1870,7999,0.30,1.50
426,Small,64,4,2,1,4000,4.3,1783,9699,0.28,1.73
427,Large,128,6,3,1,4250,4.2,1554,21999,0.12,3.42
428,Medium,32,3,2,1,5000,4.2,8161,8299,0.07,6.77
429,Small,32,3,2,1,4000,4.3,1870,8190,0.36,1.53

In [332]:
df_q3=pd.get_dummies(df_q3,columns=["screen_size"])
df_q3=df_q3.set_index("sales_idx").reset_index()
df_q3

,sales_idx,ROM,RAM,n_rear_cam,n_front_cam,battery_c,ratings,n_ratings,sales_p,discount_p,screen_size_Large,screen_size_Medium,screen_size_Small,screen_size_Very Large,screen_size_Very Small
0,127.52,64,2,1,1,1800,4.5,38645,32999,0.17,False,False,False,False,True
1,1.39,64,4,2,1,2815,4.5,244,57149,0.04,False,False,True,False,False
2,127.52,64,2,1,1,1800,4.5,38645,32999,0.17,False,False,False,False,True
3,23.07,64,3,1,1,2942,4.6,5366,42999,0.10,False,True,False,False,False
4,5.15,128,4,2,1,2815,4.6,745,69149,0.02,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,1.50,32,3,2,1,4000,4.3,1870,7999,0.30,False,False,True,False,False
426,1.73,64,4,2,1,4000,4.3,1783,9699,0.28,False,False,True,False,False
427,3.42,128,6,3,1,4250,4.2,1554,21999,0.12,True,False,False,False,False
428,6.77,32,3,2,1,5000,4.2,8161,8299,0.07,False,True,False,False,False
429,1.53,32,3,2,1,4000,4.3,1870,8190,0.36,False,False,True,False,False

In [334]:
from sklearn.model_selection import train_test_split

In [336]:
train_x,test_x=train_test_split(df_q3,test_size=0.2,random_state=123)

In [338]:
from sklearn.preprocessing import MinMaxScaler

In [340]:
mmScaler=MinMaxScaler().fit(train_x)
arr_train_x=mmScaler.transform(train_x)
arr_test_x=mmScaler.transform(test_x)
arr_train_x.shape, arr_test_x.shape

df_train_x=pd.DataFrame(arr_train_x,columns=train_x.columns)
df_test_x=pd.DataFrame(arr_test_x,columns=test_x.columns)

In [342]:
df_train_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sales_idx               344 non-null    float64
 1   ROM                     344 non-null    float64
 2   RAM                     344 non-null    float64
 3   n_rear_cam              344 non-null    float64
 4   n_front_cam             344 non-null    float64
 5   battery_c               344 non-null    float64
 6   ratings                 344 non-null    float64
 7   n_ratings               344 non-null    float64
 8   sales_p                 344 non-null    float64
 9   discount_p              344 non-null    float64
 10  screen_size_Large       344 non-null    float64
 11  screen_size_Medium      344 non-null    float64
 12  screen_size_Small       344 non-null    float64
 13  screen_size_Very Large  344 non-null    float64
 14  screen_size_Very Small  344 non-null    float64
dtypes: float64(15)
memory usage: 40.4 KB

In [344]:
from sklearn.metrics import mean_squared_error

In [346]:
k_list=[3,5,7,9,11]

for k in k_list:
    model_knn=KNeighborsRegressor(n_neighbors=k)
    out_knn=model_knn.fit(X=df_train_x.iloc[:,1:],y=df_train_x["sales_idx"])
    pred=out_knn.predict(X=df_test_x.iloc[:,1:])

    print(mean_squared_error(y_true=df_test_x["sales_idx"],y_pred=pred)**0.5)

0.08186677375964535
0.09879109824384892
0.107669855645971
0.11232111394853059
0.1136902366621185

In [402]:
model_best=KNeighborsRegressor(n_neighbors=3)
out_knn_best=model_best.fit(X=df_train_x.iloc[:,1:],y=df_train_x["sales_idx"])

In [404]:
df_test_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sales_idx               86 non-null     float64
 1   ROM                     86 non-null     float64
 2   RAM                     86 non-null     float64
 3   n_rear_cam              86 non-null     float64
 4   n_front_cam             86 non-null     float64
 5   battery_c               86 non-null     float64
 6   ratings                 86 non-null     float64
 7   n_ratings               86 non-null     float64
 8   sales_p                 86 non-null     float64
 9   discount_p              86 non-null     float64
 10  screen_size_Large       86 non-null     float64
 11  screen_size_Medium      86 non-null     float64
 12  screen_size_Small       86 non-null     float64
 13  screen_size_Very Large  86 non-null     float64
 14  screen_size_Very Small  86 non-null     float64
dtypes: float64(15)
memory usage: 10.2 KB

In [406]:
mydata=pd.DataFrame({"sales_idx":[0],"ROM":[256],"RAM":[6],"n_rear_cam":[4],"n_front_cam":[1],"battery_c":[4000],"ratings":[4.3],\
"n_ratings":[25000],"sales_p":[85000],"discount_p":[0.05],"screen_size_Large":[1],"screen_size_Medium":[0],"screen_size_Small":[0],\
"screen_size_Very Large":[0],"screen_size_Very Small":[0]})

arr_mydata=mmScaler.transform(mydata)
df_mydata=pd.DataFrame(arr_mydata,columns=mydata.columns)

In [410]:
pred=out_knn_best.fit(X=df_train_x.iloc[:,1:],y=df_train_x["sales_idx"]).predict(X=df_mydata.iloc[:,1:])
print(pred)
mydata["sales_idx"]=pred

[0.00132259]

In [412]:
pd.DataFrame(mmScaler.inverse_transform(mydata))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.653333,129032.0,67.0,13.0,3.0,20801800.0,7.24,1.177253e+10,1.287751e+10,0.0315,1.0,0.0,0.0,0.0,0.0

In [ ]:
0.65